{% extends 'base.html' %}
{% load static %}
{% block main %}

<div class="divider">
    <div class="content">
        <h2> About Me </h2>
        <img class="portrait" src="{% static 'dog.jpg' %}">
        <h2>Hi!</h2> 
        <h2>I'm Justin Zhai. </h2>
        <p>
        I am currently a sophmore <strong>Computer Science</strong> and <strong>Finance</strong> major at the University of Maryland.
        </p>

        <p>
        Feel free to look around at some of the CS projects or stock pitches I have done!
        </p>

    </div>

    <div class="current-container">
        <h2> What I'm Up To </h2>
        
        <div class="current">
            <h4> Current Listens (Explicit Warning) </h4>
            <iframe style="border-radius:12px" src="https://open.spotify.com/embed/track/2mhdhTWqT8RhkTlN2yWZZi?utm_source=generator&theme=0" width="100%" height="152" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
            <iframe style="border-radius:12px" src="https://open.spotify.com/embed/track/7jKNxYzPFGDWEemcRVebLb?utm_source=generator&theme=0" width="100%" height="152" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
            <iframe style="border-radius:12px" src="https://open.spotify.com/embed/track/1bjeWoagtHmUKputLVyDxQ?utm_source=generator&theme=0" width="100%" height="152" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
        </div>

        <div class="current">
            <h4> Current Read </h4>
            <div class="book-details">
            <img id = "bookImg" src="{{isbn}}" alt="loading">
            <p id="bookBlurb"> Loading Detals </p>
            </div>
        </div>
    </div>
</div>

<script src="{% static 'book.js' %}" defer></script>
{% endblock %}