{% extends 'base.html' %}

{% block main %}

<div class="divider">
    <div class="content">
        <h2>Hi!</h2> 
        <h2>I'm Justin Zhai. </h2>
        <p>
        I am currently a sophmore <strong>Computer Science</strong> and <strong>Finance</strong> major at the University of Maryland.
        </p>

        <p>
        Feel free to look around at some of the CS projects or stock pitches I have done!
        </p>

    </div>

    <div class="featured">
        <h2> Featured Content</h2>

        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime mollitia,
molestiae quas vel sint commodi repudiandae consequuntur voluptatum laborum
numquam blanditiis harum quisquam eius sed odit fugiat iusto fuga praesentium
optio, eaque rerum! Provident similique accusantium nemo autem. Veritatis
obcaecati tenetur iure eius earum ut molestias architecto voluptate aliquam
nihil, eveniet aliquid culpa officia aut! Impedit sit sunt quaerat, odit,
tenetur error, harum nesciunt ipsum debitis quas aliquid. Reprehenderit,
quia. Quo neque error repudiandae fuga? Ipsa laudantium molestias eos 
sapiente officiis modi at sunt excepturi expedita sint? Sed quibusdam
recusandae alias error harum maxime adipisci amet laborum. Perspiciatis 
minima nesciunt dolorem! Officiis iure rerum voluptates a cumque velit 
quibusdam sed amet tempora. 
        </p>
    </div>
</div>
{% endblock %}