{% extends 'base.html' %}
{% load static %}
{% load plotly_dash %}
{% plotly_header %}
{% block main %}

<div class="plot">
    {% plotly_direct name='chart' %}
</div>
<p> Here are my pitches</p>
{% for stock in stocks %}
    <div class="pitch">
        <div class="pitch-title">
            <h2 class="pitch-title"> {{stock.name}} </h2>
            <button class="expand-button" onclick="expand(this)" id="{{forloop.counter}}"><img class="arrow" id="arrow{{forloop.counter}}" style="transform: ScaleY(1)" src="{% static 'expand.png' %}"></button>
        </div>
        <div class="expand" style="display: none" id="div{{forloop.counter}}"> 
            <h3> Metrics</h3>
                <div class="table">
                    <table class="metrics">
                        <thead>
                            <tr>
                                <th> Ticker</th><th>Current Price</th> <th> Market Cap ($Bn)</th><th> Beta</th> <th> P/E </th> <th>Price at Pitch</th> <th> Change (%)</th> <th> Annualized Returns (%)</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>{{stock.ticker}}</td><td>{{stock.price}}</td> <td> {{stock.marketcap}}</td><td> {{stock.beta}}</td> <td>{{stock.pe}} </td> <td> {{stock.pprice}}</td><td> {{stock.change}}</td> <td>{{stock.annualized}} </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            <h3> Overview</h3>
            {{stock.description}}
            <br> 
            {% if stock.resources %}
                <h3> Pitch Material </h3>
                {% for resource in stock.resources %}
                <a class="project-link" href="{{resource.url}}" target="_blank"><img class="link" src="{% static 'link.png' %}"> {{resource.type}} </a> 
            {% endfor %}
            {% endif %}
            {% if stock.partners %}
                <h3> In Collaboration with: </h3>
                {% for partner in stock.partners %}
                    <a class="project-link" href="{{partner.linkedin}}" target="_blank"><img class="link" src="{% static 'link.png' %}"> {{partner.name}} </a> 
                {% endfor %}
            {% endif %}
            <p class="date">Pitched on {{stock.date}} </p>
        </div>
    </div>
{% endfor %}
{% plotly_footer %}
<script src="{% static 'expand.js' %}" defer></script>
{% endblock %}
